@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');

* 
{
box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: salmon;
}

/*==========header links====*/
li, a, button{
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color:white;
    text-decoration: none;
    
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    flex-wrap: wrap;
}
.logo{
    cursor: pointer;
}
.nav_links{
    list-style: none;
}
.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}
.nav_links li a{
    transition: all 0.3s ease 0s;
}
.nav_links li a:hover{
    color: #0088a9;
}

button{
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 70px;
    cursor: pointer;
    transition: 0.8s;
    box-shadow: 4px 8px 10px 0 rgba(0, 0, 0, 0.1), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
}

button:hover{
    background-color: rgba(0, 136, 169, 0.7);
    transform: scale(.96);
}

/*-------------------boxes for player--------*/

.player_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: white;
    flex-wrap: wrap;

}
.player_box  div {
    position: relative;
    width: 400px;
    height: 300px;
    margin: 30px 0px;
    text-align: center;
    color: #000;   
    background-color: #ebeff0;
    border-radius: 6px;
}

.player_box  div:hover{
    cursor: pointer;
    opacity: 0.9;
}
.player_box>div>img
{
	width: 100%;
	height: 84.5%;
	object-fit: cover;
	border-radius: 5px;
}
.player_box>div>spam
{
    background-color: #ebeff0;
	align-items:     center;
	font-family: "Comic Sans MS", cursive, sans-serif;
    border-radius: 5%;
    padding-top: -30px;
}

.divLink {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none;
    z-index: 10;
    background-color: white;
    opacity: 0;
    filter: alpha(opacity=0);
    
}
.link
{
    position: absolute;
    width: 100%;
    height: 100%
}